<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Aliyah R. Cottle | A Portfolio</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/component.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee" rel="stylesheet">

	<!-- Scripts -->
	<script src="js/modernizr.custom.js"></script>
	<script src="https://use.fontawesome.com/9e5a556cad.js"></script>
</head>
