<div id="resume_container" class="fullscreen">

<h1>WHOAMI</h1>
<p>Aliyah R. Cottle</p>
<p>Owner of <a href="#">Aliyah R. Cottle</a>, <a href="#">Manetor</a>, <a href="#">Amperand Labs</a></p>


<h1>WHEREIS</h1>
<p>Residing: Toronto, Canada</p>

if travelling 
<p>Travelling: London, England</p>

<h1>UPTIME</h1>

<h1>Aliyah? Like the singer?</h1>
<p>Once upon a time a web designer was born</p>

<h1>Education</h1>
<h3>Sheridan College</h3>
<p>2011-2014</p>

<h1>Technical Expertise</h1>

<h1>Soft Skills</h1>


	
</div>

