<!-- TODO: Instagram/Twitter links -->

 <!-- Social container -->
  <div id="social" >

    <a href="https://www.facebook.com/aliyahrcottle/" target="blank">
      <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
    </a>

    <a href="#" target="blank">
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>  
    </a>

    <a href="https://www.linkedin.com/in/aliyah-cottle-b253ba116/" target="blank">
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>  
    </a>

    <a href="#" target="blank">
     <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
   </a>

   <a href="https://www.youtube.com/channel/UCTBFZaA5Yd6oQLxojZ2yXWg" target="blank">
    <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
  </a>

</div><!-- ./container_social -->